<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Diagne Axel</title>

  <!--FONTS-->

  <!--META og-->
  <meta property="og:title" content=" Diagne Axel - Développeur" />
  <meta property="og:image" content="img/avataaars.png"/>
  <meta property="og:description" content=" Hey ! Je m'appelle Diagne Axel, je suis développeur web et application. Je peux réaliser un site de la maquette a l'intégration en prenant soin des besoins du client et du SEO pour un bon référencement de celui-ci."/>
  <meta name="description" content="Salut ! Je m'appelle Diagne Axel, je suis développeur web et application. Je peux réaliser un site de la maquette a l'intégration en prenant soin des besoins du client et du SEO pour un bon référencement de celui-ci.">

</head>
<body>

</body>
</html>
