
.card-box{
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.button-container{
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  margin-bottom: 1rem;
}
.button-container-modifier{
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 1rem;
}
.fait{
  background-color: rgba(99, 110, 114,0.4);
}
.aFaire{
  background-color: rgba(223, 230, 233,0.4) ;
}

img{
  min-height : 350px;
}
